.container{
    display:flex;
    height:100vh;
    width: 100vw;
}

.left{
    position: relative;
    height: 100vh;
    width: 807.5px;
    

}
.credits{
    font-family: "poppins", sans-serif;
    position: absolute;
    width: 100%;
    color: aliceblue;
    bottom: 20px;
    text-align: center;
}
a{
    font-style: italic;
    color:aliceblue;
    text-decoration:underline;
}

.background{
    position:absolute;
    background-color: black;
    height: 250px;
    width: 807.5px;
    top:20%;
    opacity:70%;
    
    
}

.logo{
    position: absolute;
    display: flex;
    gap: 5px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    z-index: 2;
}

.logo img{
    width: 150px;
    height: auto;
    
}

h1{
    font-family: "Norse", sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 120px;
    transform: translate(20px,20px);
    
}

.right{
    flex:1;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100vh;
}

.disclaimer{
    position: absolute;
    color:black;
    left:5%;
    top:5%;
    font-family: "poppins", sans-serif;
    text-align: left;
    width: 80%;
    font-size: 40px;
    font-weight: 400;
}   

.text{
    position: absolute;
    color:black;
    left:5%;
    top:25%;
    font-family: "poppins", sans-serif;
    text-align: left;
    width: 80%;
    font-size: 40px;
    font-weight: 400;
}

.background-white{
    position:absolute;
    background-color: white;
    height: 450px;
    width: 100%;
    top:40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-white>div{
    position: absolute;
    color:black;
    font-family: "poppins", sans-serif;
    left:5%;
    top:3%;
    font-size: 30px;
}

.btn{
    position: absolute;
    background-color: #596D48;
    font-family: "poppins", sans-serif;
    color: white;
    border: none;
    top:80%;
    left:5%;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-weight: 900;
}

.btn:hover{
    background-color: #7A8B5A;
    cursor: pointer;
}

.under-text{
    position: absolute;
    color:black;
    font-family: "poppins", sans-serif;
    left:5%;
    width: 100%;
    top: 85%;
    font-size: 20px;
    font-weight: 400;
}

strong{
    color: #596D48;
}

strong:hover{
    color: #596D48;
    text-decoration: underline;
    cursor:pointer;
}

.form{
    position: absolute;
    font-family: "poppins", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    left: 5%;
    top: 25%;
    width: 90%;
    
}

.input-container{
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    width: 400px;
    height: 35px;
    border:grey 2px solid;
}

input:focus{
    outline: none;
    border-color: #596D48;
}

input:invalid:not(:focus):not(:placeholder-shown){
    border-color: red;
}

input:valid{
    border-color: grey;
}