.container{
    font-family: "roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1fr;
}

.header{
    background-color: rgb(255, 255, 255);
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.9);
}

.header .top{
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.header .top .search{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap:30px;
    align-items: center;
    
}

.header .top .search input{
    background-color: #E0E6EF;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}

.header .top .user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 100px;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.user p{
    margin-top:8px;
}

.header .top .user .profile-icon{
    border-radius: 50%;
}

.header .bottom{
    grid-row:2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.header .bottom .left{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    gap: 30px;
}

.header .bottom .left .profile-icon{
    border-radius: 50%;
}

.header .bottom .left p span{
    font-size: 35px;
    font-weight: 600;
}

.header .bottom .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;
    gap: 50px;
}

.header .bottom .right button{
    background-color: #1992D4;
    font-size:larger;
    color: white;
    width: 150px;
    height: auto;
    border-radius: 100px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dashboard{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #1992D4;
    color: white;
}

.dashboard h2{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 50px;
}


.dashboard ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dashboard ul li{
    padding-left: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-size: x-large;

}

.dashboard img{
    filter: brightness(0) invert(1);
}


.main{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #E0E6EF;
    padding: 20px;
    overflow: hidden;
}